<?php
define("STEAM_SERVER", "localhost");
define("STEAM_PORT", 1900);

define("PATH_TEMP", "/tmp");

define("WEBDAV_FRONTEND_URL", "http://www.bid-owl.de/explorer/ViewDocument/943035/");

// If CONTENT_PROVIDER_DATABASE, get_content to load data using direct database access
defined("DEFAULT_CONTENT_PROVIDER") or define("DEFAULT_CONTENT_PROVIDER", CONTENT_PROVIDER_COAL);

// String: The hostname of the server of your open-sTeam database
defined("STEAM_DATABASE_HOST") or define("STEAM_DATABASE_HOST", STEAM_SERVER);

// String: The name of your open-sTeam database
defined("STEAM_DATABASE") or define("STEAM_DATABASE", "steam");

// String: The database user name with which to access your open-sTeam database
defined("STEAM_DATABASE_USER") or define("STEAM_DATABASE_USER", "steam");

// String: The database user password with which to access your open-sTeam database
defined("STEAM_DATABASE_PASS") or define("STEAM_DATABASE_PASS", "steam");

// config persistence
//defined("ENABLE_FILE_PERSISTENCE") or define("ENABLE_FILE_PERSISTENCE", true);
//defined("DEFAULT_PERSISTENCE_TYPE") or define("DEFAULT_PERSISTENCE_TYPE", PERSISTENCE_FILE_CONTENTID);
//defined("FILE_PERSISTENCE_BASE_PATH") or define("FILE_PERSISTENCE_BASE_PATH", "/temp");

//phpsteam api
defined("API_DOUBLE_FILENAME_NOT_ALLOWED") or define("API_DOUBLE_FILENAME_NOT_ALLOWED", false);
defined("API_MAX_INVENTORY_COUNT") or define("API_MAX_INVENTORY_COUNT", 500);
defined("API_MAX_CONTENT_SIZE") or define("API_MAX_CONTENT_SIZE", 52428800); //50mb
defined("API_TEMP_DIR") or define("API_TEMP_DIR", PATH_TEMP);
